<section class="section">
  <div class="container">
    <div class="columns">
     <%= render 'my-profile' %>
      <%= render 'tweets' %>
      <div>
      <%= render 'who-to-follow' %>
      <%= render 'trending' %>
      </div>
    </div>
  </div>
</section>