<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'trending' %>
      <%= render 'tweets' %>
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>