<section class="section">
  <div class="container">
    <div class="columns">
    <div class= 'column is-8' >
      <%= render 'tweets' %>
      </div>
      <div class= 'column'>
      <%= render 'who-to-follow' %>
      <%= render 'trending' %>
      </div>
    </div>
  </div>
</section>