<% @users.each do | user | %>
  <div class="box">
  	<article class="media">
  		<div class="media-left">
			<p class="image is-64x64">
				<%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
			</p>
				</figure>
  		</div>
  		<div class="media-content">
  			<div class="content">
				
  				<strong><%= link_to user.name,  user_path(user), class: "has-text-black"%></strong><br />
  				<small><%=user.username%></small><br/>
          <%= following(user) %>
  			</div>
  		</div>
  	</article>
  </div>
<% end %>