<div class="column">
	<nav class="panel">
		<p class="panel-heading">Check 	<%= @user.name%> followers</p>
	<% @user.inverse_followings.each do | follow | %>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
						<%= gravatar_image_tag(follow.user.email, size: 64, alt: follow.user.name) %>
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
  				<strong><%= link_to follow.user.name,  user_path(follow.user), class: "has-text-black"%></strong><br />
						<small><%= follow.user.username %></small><br>
					</p>
				</div>
			</div>
		</article>
	</div>
	<% end %>
 
	</nav>
</div>