<section class="section p-0">
  <div class="container">
    <div class="columns is-gapless">
    <div class= 'column is-8' >
    <%= image_tag(@user.bg_img || 'https://source.unsplash.com/user/erondu/600x200', alt: 'mario', class: 'bg-image') %>
      <%= render 'user-tweets' %>
      </div>
      <div class= 'column'>
      <%= render 'user-profile' %>
      <%= render 'user-followed' %>
      </div>

      
    </div>
  </div>
</section>