<section class="section">
  <div class="container">
    <div class="columns">
     <%= render 'tweets/my-profile' %>
      <%= render 'user-tweets' %>
      <%= render 'user-profile' %>
      
    </div>
  </div>
</section>