<section class="section">
  <div class="container">
    <div class="columns">
     <%= render 'tweets/my-profile' %>
      <%= render 'user-tweets' %>
      <div>
      <%= render 'user-profile' %>
      <%= render 'user-followed' %>
      </div>

      
    </div>
  </div>
</section>